In [7]:
import re
import pandas as pd

In [6]:
#1. Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
sample_text='Python Exercises, PHP exercises.'
#Expected Output: Python:Exercises::PHP:exercises:


def replace_characters(text):
    pattern = r'[ ,.]'
    replaced_text = re.sub(pattern, ':', text)
    return replaced_text
output_text = replace_characters(sample_text)
print(output_text)

Python:Exercises::PHP:exercises:

2. Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [8]:
df=pd.DataFrame({'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']})

def clean_text(text):
    cleaned_text = re.sub(r'[^\w\s]', '', text)
    return cleaned_text

df['SUMMARY'] = df['SUMMARY'].apply(clean_text)
df

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

3. Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [11]:
text = "My name is sandeep Shukla 3345 dfi3m fk3dd data science"

def Four_long_strng(strng):
    pattern = re.compile(r'\b\w{4,}\b')
    words = pattern.findall(strng)
    return words

result = Four_long_strng(text)
print(result)

['name', 'sandeep', 'Shukla', '3345', 'dfi3m', 'fk3dd', 'data', 'science']

4. Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [19]:
input_text = "My name is sandeep Shukla 3345 456 dfi3m fk3dd data science"

def words(string, min_length=3, max_length=5):
    
    pattern = re.compile(r'\b\w{' + str(min_length) + ',' + str(max_length) + r'}\b')
    
    matching_words = pattern.findall(string)
    
    return matching_words


result_3_charetcer = words(input_text, min_length=3, max_length=3)
result_4_charetcer = words(input_text, min_length=4, max_length=4)
result_5_charetcer = words(input_text, min_length=5, max_length=5)

print("3 words:", result_3_charetcer)
print("4 words:", result_4_charetcer)
print("4 words:", result_5_charetcer)

3 words: ['456']
4 words: ['name', '3345', 'data']
4 words: ['dfi3m', 'fk3dd']

5. Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [24]:
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

def remove_p(list):
    
    pattern = re.compile(r'\([^)]*\)')
    

    strng = [pattern.sub('', s) for s in list]
    
    return strng


result = remove_p(sample_text)
print(result)

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

6. Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [27]:
file_path = r'E:\D\Data Trained\project\Re text.txt'
with open(file_path, 'w') as file:
    file.write('["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]')
with open(file_path, 'r') as file:
    content = file.read()
pattern = re.compile(r'\([^)]*\)')
result = pattern.sub('', content)
print(result)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

7. Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [34]:

sample_text = "ImportanceOfRegularExpressionsInPython"

result = re.findall(r'[A-Z][a-z]*', sample_text)

print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

8. Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [37]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

def insrt_space(text):
    
    result = re.sub(r'(?<=[a-zA-Z])(\d)', r' \1', text)
    return result

result = insrt_space(sample_text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [43]:
sample_text ="RegularExpression1IsAn2ImportantTopic3InPython"

def insrt_space(text):
    result = re.sub(r'(?<=[a-zA-Z0-9])([A-Z])', r' \1', text)
    return result

result = insrt_space(sample_text)
print(result)

Regular Expression1 Is An2 Important Topic3 In Python

 10. Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [49]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")


df['first_five_letters'] = df['Country'].str[:6]


print(df.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual first_five_letters
0     0.29678            2.51738             Switze
1     0.43630            2.70201             Icelan
2     0.34139            2.49204             Denmar
3     0.34699            2.46531             Norway
4     0.45811            2.45176             Canada