In [12]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import requests 
from selenium.webdriver.chrome.options import Options

Scrape  the  
details  of  
most  viewed  videos  on  
YouTube  
from  Wikipedia.  
Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:  A) 
Rank   
B) Name   
C) Artist   
D) Upload date   
E) Views

In [51]:
# Initialize Selenium WebDriver (make sure to specify the path to your WebDriver)
driver = webdriver.Chrome()  # Update with your WebDriver (e.g., webdriver.Chrome() for Chrome)

# Open the URL in the WebDriver
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()

# Wait for the table to load (using explicit wait)
time.sleep(5)
table = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr')
#print(table)
for t in table:
    columns=t.find_elements(By.TAG_NAME,'td')
    #print(columns)
    if len(columns) >= 4:
            Video_Name = columns[0].find_element(By.TAG_NAME,'a').text.strip()
            Uploader = columns[1].text.strip()
            Views = columns[2].text.strip()
            Date = columns[3].text.strip()
            
            
            # Print the extracted data
            print("Video_Name:", Video_Name)
            print("Artist:", Uploader)
            print("Views:", Views)
            print("Upload_Date:", Date)
            
            print()  # Print empty line for better readability

Video_Name: Baby Shark Dance
Uploader: Pinkfong Baby Shark - Kids' Songs & Stories
Views: 14.32
Date: June 17, 2016

Video_Name: Despacito
Uploader: Luis Fonsi
Views: 8.41
Date: January 12, 2017

Video_Name: Johny Johny Yes Papa
Uploader: LooLoo Kids - Nursery Rhymes and Children's Songs
Views: 6.89
Date: October 8, 2016

Video_Name: Bath Song
Uploader: Cocomelon - Nursery Rhymes
Views: 6.66
Date: May 2, 2018

Video_Name: Shape of You
Uploader: Ed Sheeran
Views: 6.23
Date: January 30, 2017

Video_Name: See You Again
Uploader: Wiz Khalifa
Views: 6.22
Date: April 6, 2015

Video_Name: Wheels on the Bus
Uploader: Cocomelon - Nursery Rhymes
Views: 6.01
Date: May 24, 2018

Video_Name: Phonics Song with Two Words
Uploader: ChuChu TV Nursery Rhymes & Kids Songs
Views: 5.75
Date: March 6, 2014

Video_Name: Uptown Funk
Uploader: Mark Ronson
Views: 5.18
Date: November 19, 2014

Video_Name: Gangnam Style
Uploader: Psy
Views: 5.10
Date: July 15, 2012

Video_Name: Learning Colors – Colorful Eggs on a Farm
Uploader: Miroshka TV
Views: 5.09
Date: February 27, 2018

Video_Name: Dame Tu Cosita
Uploader: Ultra Records
Views: 4.59
Date: April 5, 2018

Video_Name: Masha and the Bear
Uploader: Get Movies
Views: 4.57
Date: January 31, 2012

Video_Name: Axel F
Uploader: Crazy Frog
Views: 4.45
Date: June 16, 2009

Video_Name: Sugar
Uploader: Maroon 5
Views: 4.02
Date: January 14, 2015

Video_Name: Baa Baa Black Sheep
Uploader: Cocomelon - Nursery Rhymes
Views: 4.01
Date: June 25, 2018

Video_Name: Counting Stars
Uploader: OneRepublic
Views: 4.00
Date: May 31, 2013

Video_Name: Lakdi Ki Kathi
Uploader: Jingle Toons
Views: 3.98
Date: June 14, 2018

Video_Name: Roar
Uploader: Katy Perry
Views: 3.98
Date: September 5, 2013

Video_Name: Waka Waka (This Time for Africa)
Uploader: Shakira
Views: 3.89
Date: June 4, 2010

Video_Name: Sorry
Uploader: Justin Bieber
Views: 3.78
Date: October 22, 2015

Video_Name: Shree Hanuman Chalisa
Uploader: T-Series Bhakti Sagar
Views: 3.77
Date: May 10, 2011

Video_Name: Humpty the train on a fruits ride
Uploader: Kiddiestv Hindi - Nursery Rhymes & Kids Songs
Views: 3.76
Date: January 26, 2018

Video_Name: Thinking Out Loud
Uploader: Ed Sheeran
Views: 3.75
Date: October 7, 2014

Video_Name: Perfect
Uploader: Ed Sheeran
Views: 3.70
Date: November 9, 2017

Video_Name: Dark Horse
Uploader: Katy Perry
Views: 3.70
Date: February 20, 2014

Video_Name: Let Her Go
Uploader: Passenger
Views: 3.64
Date: July 25, 2012

Video_Name: Faded
Uploader: Alan Walker
Views: 3.60
Date: December 3, 2015

Video_Name: Girls Like You
Uploader: Maroon 5
Views: 3.58
Date: May 31, 2018

Video_Name: Lean On
Uploader: Major Lazer Official
Views: 3.57
Date: March 22, 2015

## BCCI Project 
Scrape the details team India’s international fixtures from bcci.tv.   
Url = https://www.bcci.tv/.   
You need to find following details:   
A) Series   
B) Place   
C) Date   
D) Time   
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [34]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException

# URL of the BCCI homepage
url = "https://www.bcci.tv/"

# Initialize Selenium WebDriver (specify the path to your WebDriver)
driver = webdriver.Chrome()  # Assuming Chrome WebDriver is used
driver.get('https://www.bcci.tv/')
driver.maximize_window()
time.sleep(3)

Fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
Fixture.click()
time.sleep(5)

#Main=driver.find_element(By.XPATH,'//section[@class="w-100 position-relative gap-between-section pb-0"]')
Table=driver.find_elements(By.XPATH,'//div[@id="match-card"]')

Series  =[] 
Place   =[]
Date   =[]
Time   =[]

for i in Table:
    Sers=i.find_element(By.XPATH,'div/div/div/h5')
    plc=i.find_element(By.XPATH,'div[2]/div/span[1]')
    Dt=i.find_element(By.XPATH,'div/div/div/div[2]/div')
    Tm=i.find_element(By.XPATH,'div/div/div/div[2]/div[2]')

    Series.append(Sers.text) 
    Place.append(plc.text)   
    Date.append(Dt.text)  
    Time .append(Tm.text)
# Create DataFrame from scraped data
df = pd.DataFrame({
    'Series': Series,

    'Place': Place,
    'Date': Date,
    'Time': Time
})

# Display DataFrame
df

,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","2 MAY, 2024",3:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","6 MAY, 2024",3:30 PM IST
2,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,","9 MAY, 2024",3:30 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","5 JUNE, 2024",8:00 PM IST
4,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","9 JUNE, 2024",8:00 PM IST
5,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,","12 JUNE, 2024",8:00 PM IST
6,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST

Scrape the details of State-wise GDP of India from statisticstime.com.   
Url = http://statisticstimes.com/   
You have to find following details: A) Rank   
B) State   
C) GSDP(21-22)- at current prices   
D) GSDP(22.23)- at current prices   
E) Share(21-22)   
F) GDP($ billion)   
Note: - From statisticstimes home page you have to reach to economy page through code.

In [54]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException

def closebutton(delay):
    
    overlay_script = """
        var overlay = document.querySelector('#aswift_2_host');
        if (overlay) {
            overlay.parentNode.remove();
        }
    """
    driver.execute_script(overlay_script)
    time.sleep(delay)

# Initialize Selenium WebDriver (specify the path to your WebDriver)
driver = webdriver.Chrome()  # Assuming Chrome WebDriver is used
driver.get(' http://statisticstimes.com/')
driver.maximize_window()
time.sleep(3)

Home=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[1]/button')
Home.click()
India1=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[1]/div/a[2]')
India1.click()


closebutton(5)

economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')

economy.click()
time.sleep(2)




India=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
India.click()

Indian_state=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
Indian_state.click()


#Main=driver.find_element(By.XPATH,'//section[@class="w-100 position-relative gap-between-section pb-0"]')
Table=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr')

Rank  =[] 
State   =[]
GDP_21_22  =[]
GDP_22_22   =[]
Share_21_22   =[]
GDP_Billion   =[]


for i in Table:
    R=i.find_element(By.XPATH,'td[1]')
    S=i.find_element(By.XPATH,'td[2]')
    G1=i.find_element(By.XPATH,'td[5]')
    G2=i.find_element(By.XPATH,'td[4]')
    Sh=i.find_element(By.XPATH,'td[6]')
    G3=i.find_element(By.XPATH,'td[7]')

    Rank.append(R.text) 
    State.append(S.text)   
    GDP_21_22.append(G1.text)  
    GDP_22_22 .append(G2.text)
    Share_21_22 .append(Sh.text)
    GDP_Billion .append(G3.text)
    
# Create DataFrame from scraped data
df = pd.DataFrame({
    'Rank': Rank,

    'State': State,
    'GDP_21_22': GDP_21_22,
    'GDP_22_23': GDP_22_22,
    'Share_21_22':Share_21_22,
    'GDP_Billion':GDP_Billion
    
})

# Display DataFrame
df

,Rank,State,GDP_21_22,GDP_22_23,Share_21_22,GDP_Billion
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",3.96%,124.764
11,12,Delhi,"881,336","1,014,688",3.73%,117.660
12,13,Haryana,"868,905","984,055",3.68%,116.001
13,14,Odisha,"662,886","753,177",2.81%,88.497
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"617,192","676,164",2.62%,82.397
16,17,Assam,"411,454","493,167",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"267,143","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
22,23,Goa,"84,266","93,672",0.36%,11.250
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"46,096","54,285",0.20%,6.154
25,26,Puducherry,"43,810","49,643",0.19%,5.849
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
30,31,Nagaland,"31,038","35,643",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

Scrape the details of trending repositories on Github.com.   
Url = https://github.com/   
You have to find the following details:   
A) Repository title   
B) Repository description   
C) Contributors count   
D) Language used  
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [54]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException


url = "https://github.com/"

driver = webdriver.Chrome()
driver.get('https://github.com/')
driver.maximize_window()
time.sleep(3)

OpenSourceMenu=driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]')
OpenSourceMenu.click()
TrendingMenu=driver.find_element(By.XPATH,'//a[@href="https://github.com/trending"]')
TrendingMenu.click()
time.sleep(3)

Repositories=driver.find_elements(By.XPATH,'//article[@class="Box-row"]')

def GetRepositoryData(dr,paramXp):
    try:
        retval=dr.find_element(By.XPATH, paramXp).text
    except NoSuchElementException:
        retval="Not Found"
    return retval

Titles  =[] 
Descriptions   =[]
ContributorsCounts =[]
Languages   =[]

for i in Repositories:
    Title=GetRepositoryData(i,'h2')
    Description=GetRepositoryData(i,'p')
    ContributorsCount=GetRepositoryData(i,'div/a[2]')
    Language=GetRepositoryData(i,'div/span/span[2]')

    Titles.append(Title) 
    Descriptions.append(Description)   
    ContributorsCounts.append(ContributorsCount)  
    Languages.append(Language)


df = pd.DataFrame({
    'Titles': Titles,
    'Descriptions': Descriptions,
    'ContributorsCounts': ContributorsCounts,
    'Languages': Languages
})

# Display DataFrame
df

,Titles,Descriptions,ContributorsCounts,Languages
0,dnhkng / GlaDOS,Personality Core,93,Python
1,TheOfficialFloW / PPPwn,PPPwn - PlayStation 4 PPPoE RCE,100,Python
2,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"35,525",TypeScript
3,fastfetch-cli / fastfetch,"Like neofetch, but much faster because written...",157,C
4,hydralauncher / hydra,Hydra is a game launcher with its own embedded...,352,TypeScript
5,TracecatHQ / tracecat,😼 The open source alternative to Tines / Splun...,85,TypeScript
6,coollabsio / coolify,An open-source & self-hostable Heroku / Netlif...,786,PHP
7,dylanaraps / neofetch,🖼️ A command-line system information tool writ...,"1,542",Shell
8,ItzCrazyKns / Perplexica,Perplexica is an AI-powered search engine. It ...,230,TypeScript
9,Orange-OpenSource / hurl,"Hurl, run and test HTTP requests with plain text.",427,Rust
10,pagefaultgames / pokerogue,Not Found,399,TypeScript
11,penpot / penpot,Penpot: The open-source design tool for design...,"1,328",Clojure
12,yangshun / tech-interview-handbook,💯 Curated coding interview preparation materia...,"13,955",TypeScript
13,Dokploy / dokploy,"Open Source Alternative to Vercel, Netlify and...",54,TypeScript
14,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"24,553",Not Found
15,xlang-ai / OSWorld,OSWorld: Benchmarking Multimodal Agents for Op...,90,Python
16,NaiboWang / EasySpider,A visual no-code/code-free web crawler/spider易...,"2,613",JavaScript
17,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...","8,853",Not Found
18,pytorch / executorch,"On-device AI across mobile, embedded and edge ...",173,C++
19,kelseyhightower / kubernetes-the-hard-way,Bootstrap Kubernetes the hard way. No scripts.,"13,389",Not Found
20,MagicMirrorOrg / MagicMirror,MagicMirror² is an open source modular smart m...,"4,121",JavaScript
21,aptos-labs / aptos-core,Aptos is a layer 1 blockchain built to support...,"3,516",Rust
22,idk10-a / aviator,Level up your Aviator game! This bot employs i...,30,Not Found
23,FRRouting / frr,The FRRouting Protocol Suite,"1,168",C
24,mdn / content,The content behind MDN Web Docs,"22,396",Markdown

 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the 
following details:   
A) Song name   
B) Artist name   
C) Last week rank   
D) Peak rank   
E) Weeks on board   
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException


url = "https://github.com/"

driver = webdriver.Chrome()
driver.get('https://www.billboard.com/')
driver.maximize_window()
time.sleep(3)


Chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
Chart.click()
time.sleep(3)


Songs_100=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
Songs_100.click()
time.sleep(3)



Songs_list=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')

def GetRepositoryData(dr,paramXp):
    try:
        retval=dr.find_element(By.XPATH, paramXp).text
    except NoSuchElementException:
        retval="Not Found"
    return retval

Song  =[] 
Aritst   =[]
Last_Rank =[]
P_Pos   =[]
W_Board=[]

for i in Songs_list:
    S=GetRepositoryData(i,'ul/li[4]/ul/li[1]/h3')
    A=GetRepositoryData(i,'ul/li[4]/ul/li[1]/span')
    L=GetRepositoryData(i,'ul/li[4]/ul/li[4]/span')
    P=GetRepositoryData(i,'ul/li[4]/ul/li[5]/span')
    W=GetRepositoryData(i,'ul/li[4]/ul/li[6]/span')

    Song.append(S) 
    Aritst.append(A)   
    Last_Rank.append(L)  
    P_Pos.append(P)
    W_Board.append(W)


df = pd.DataFrame({
    'Song': Song,
    'Aritst': Aritst,
    'Last_Rank': Last_Rank,
    'Peak Pos.': P_Pos,
    'WKS on Chart':W_Board
    
})

# Display DataFrame
df

,Song,Aritst,Last_Rank,Peak Pos.,WKS on Chart
0,Fortnight,Taylor Swift Featuring Post Malone,-,1,1
1,Down Bad,Taylor Swift,-,2,1
2,I Can Do It With A Broken Heart,Taylor Swift,-,3,1
3,The Tortured Poets Department,Taylor Swift,-,4,1
4,"So Long, London",Taylor Swift,-,5,1
...,...,...,...,...,...
95,Us Vs. Them,$uicideBoy$,-,96,1
96,Wine Into Whiskey,Tucker Wetmore,84,77,5
97,Spin You Around (1/24),Morgan Wallen,89,24,13
98,Soak City,310babii,82,53,19
99,Selfish,Justin Timberlake,60,19,13

Scrape the details of Highest selling novels.   
A) Book name   
B) Author name   
C) Volumes sold   
D) Publisher   
E) Genre   
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [5]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException




driver = webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.maximize_window()
time.sleep(3)


Novel_list=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr')

def GetRepositoryData(dr,paramXp):
    try:
        retval=dr.find_element(By.XPATH, paramXp).text
    except NoSuchElementException:
        retval="Not Found"
    return retval

Book  =[] 
Author   =[]
Sold =[]
Publisher   =[]
Genre=[]

for i in Novel_list:
    B=GetRepositoryData(i,'td[2]')
    A=GetRepositoryData(i,'td[3]')
    S=GetRepositoryData(i,'td[4]')
    P=GetRepositoryData(i,'td[5]')
    G=GetRepositoryData(i,'td[6]')

    Book.append(B) 
    Author.append(A)   
    Sold.append(S)  
    Publisher.append(P)
    Genre.append(G)


df = pd.DataFrame({
    'Book': Book,
    'Author': Author,
    'Sold': Sold,
    'Publisher': Publisher,
    'Genre':Genre
    
})

# Display DataFrame
df

,Book,Author,Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

 Scrape the details most watched tv series of all time from imdb.com.   
Url = https://www.imdb.com/list/ls512407256/ You have 
to find the following details:   
A) Name   
B) Year span   
C) Genre   
D) Run time   
E) Ratings   
F) Votes

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException




driver = webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls512407256/')
driver.maximize_window()
time.sleep(3)


Top_100=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]')

def GetRepositoryData(dr,paramXp):
    try:
        retval=dr.find_element(By.XPATH, paramXp).text
    except NoSuchElementException:
        retval="Not Found"
    return retval

Name  =[] 
Year   =[]
Genre =[]
Run_Time=[]
Ratings=[]
Votes=[]

for i in Top_100:
    N=GetRepositoryData(i,'div[2]/h3/a')
    Y=GetRepositoryData(i,'div[2]/h3/span[2]')
    G=GetRepositoryData(i,'div[2]/p/span[5]')
    RT=GetRepositoryData(i,'div[2]/p/span[3]')
    R=GetRepositoryData(i,'div[2]/div/div/span[2]')
    V=GetRepositoryData(i,'div[2]/p[4]/span[2]')

    Name.append(N)   
    Year.append(Y)  
    Genre.append(G)
    Run_Time.append(RT)
    Ratings.append(R)
    Votes.append(V)


df = pd.DataFrame({
    'Name': Name,
    'Year': Year,
    'Genre': Genre,
    'Run_Time': Run_Time,
    'Ratings':Ratings,
    'Votes':Votes
    
})

# Display DataFrame
df

,Name,Year,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",60 min,9.2,"2,286,747"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",60 min,8.7,"1,337,765"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",45 min,8.1,"1,082,983"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"315,681"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"276,323"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",60 min,8.9,"657,071"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"163,357"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"115,948"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"436,184"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"139,850"

Details of Datasets from UCI machine learning repositories.   
Url = https://archive.ics.uci.edu/  You 
have to find the following details:   
A) Dataset name   
B) Data type   
C) Task   
D) Attribute type   
E) No of instances   
F) No of attribute 
G) Year   
Note: - from the home page you have to go to the Show All Dataset page through code.

In [22]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException




driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()
time.sleep(3)

View_DataSet=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
View_DataSet.click()
time.sleep(3)


View_25=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select')
View_25.send_keys('25')
time.sleep(3)


#Expand=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
#Expand.click()
#driver.execute_script("window.scrollBy(0, 0);")
#time.sleep(3)






Data_Sets=driver.find_elements(By.XPATH,'//div[@role="row"]')


def GetRepositoryData(dr,paramXp):
    try:
        retval=dr.find_element(By.XPATH, paramXp).text
    except NoSuchElementException:
        retval="Not Found"
    return retval

Dataset_name=[]
Data_type=[]   
Task=[]   
Attribute_type=[]   
No_of_instances=[]   
No_of_attribute=[] 
DYear=[]

for i in Data_Sets:
    i.click()
    driver.execute_script("window.scrollBy(0, 500);")
    time.sleep(1)
    DN=GetRepositoryData(i,'div/div[2]/h2/a')
    DT=GetRepositoryData(i,'div/div[2]/div/div[1]/span')
    T=GetRepositoryData(i,'div/div[2]/p')
    AT=GetRepositoryData(i,'div/div[2]/div/div[2]/span')
    NI=GetRepositoryData(i,'div/div[2]/div/div[3]/span')
    NA=GetRepositoryData(i,'div/div[2]/div/div[4]/span')
    DY=GetRepositoryData(i,'div[2]/div/table/tbody/tr/td[3]')

    Dataset_name.append(DN)   
    Data_type.append(DT)  
    Task.append(T)
    Attribute_type.append(AT)
    No_of_instances.append(NI)
    No_of_attribute.append(NA)
    DYear.append(DY)


df = pd.DataFrame({
    'Dataset_name': Dataset_name,
    'Data_type': Data_type,
    'Task': Task,
    'Attribute_type': Attribute_type,
    'No_of_instances':No_of_instances,
    'No_of_attribute':No_of_attribute,
    'DYear':DYear
    
})

# Display DataFrame
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,DYear
0,Iris,Classification,"A small classic dataset from Fisher, 1936. One...",Tabular,150 Instances,4 Features,7/1/1988
1,Heart Disease,Classification,"4 databases: Cleveland, Hungary, Switzerland, ...",Multivariate,303 Instances,13 Features,7/1/1988
2,Dry Bean,Classification,"Images of 13,611 grains of 7 different registe...",Multivariate,13.61K Instances,16 Features,9/14/2020
3,Rice (Cammeo and Osmancik),Classification,A total of 3810 rice grain's images were taken...,Multivariate,3.81K Instances,7 Features,10/6/2019
4,Adult,Classification,Predict whether income exceeds $50K/yr based o...,Multivariate,48.84K Instances,14 Features,5/1/1996
5,Breast Cancer Wisconsin (Diagnostic),Classification,Diagnostic Wisconsin Breast Cancer Database.,Multivariate,569 Instances,30 Features,11/1/1995
6,Raisin,Classification,Images of the Kecimen and Besni raisin varieti...,Multivariate,900 Instances,8 Features,8/14/2023
7,Wine,Classification,Using chemical analysis to determine the origi...,Tabular,178 Instances,13 Features,7/1/1991
8,Wine Quality,"Classification, Regression","Two datasets are included, related to red and ...",Multivariate,4.9K Instances,12 Features,10/7/2009
9,Diabetes,Classification,This diabetes dataset is from AIM '94,"Multivariate, Time-Series",1 Instances,20 Features,N/A
10,Bank Marketing,Classification,The data is related with direct marketing camp...,Multivariate,45.21K Instances,17 Features,2/14/2012
11,Car Evaluation,Classification,Derived from simple hierarchical decision mode...,Multivariate,1.73K Instances,6 Features,6/1/1997
12,Student Performance,"Classification, Regression",Predict student performance in secondary educa...,Multivariate,649 Instances,33 Features,11/27/2014
13,Mushroom,Classification,From Audobon Society Field Guide; mushrooms de...,Multivariate,8.12K Instances,22 Features,4/27/1987
14,Abalone,"Classification, Regression",Predict the age of abalone from physical measu...,Tabular,4.18K Instances,8 Features,12/1/1995
15,Online Retail,"Classification, Clustering",This is a transnational data set which contain...,"Multivariate, Sequential, Time-Series",541.91K Instances,8 Features,11/6/2015
16,Statlog (German Credit Data),Classification,This dataset classifies people described by a ...,Multivariate,1K Instances,20 Features,11/17/1994
17,Automobile,Regression,From 1985 Ward's Automotive Yearbook,Multivariate,205 Instances,25 Features,5/19/1987
18,Census Income,Classification,Predict whether income exceeds $50K/yr based o...,Multivariate,48.84K Instances,14 Features,5/1/1996
19,Breast Cancer,Classification,This breast cancer domain was obtained from th...,Multivariate,286 Instances,9 Features,7/11/1988
20,Predict Students' Dropout and Academic Success,Classification,A dataset created from a higher education inst...,Tabular,4.42K Instances,36 Features,12/13/2021
21,Spambase,Classification,Classifying Email as Spam or Non-Spam,Multivariate,4.6K Instances,57 Features,7/1/1999
22,Auto MPG,Regression,"Revised from CMU StatLib library, data concern...",Multivariate,398 Instances,7 Features,7/7/1993
23,Breast Cancer Wisconsin (Original),Classification,Original Wisconsin Breast Cancer Database,Multivariate,699 Instances,9 Features,7/15/1992
24,Air Quality,Regression,Contains the responses of a gas multisensor de...,"Multivariate, Time-Series",9.36K Instances,15 Features,3/23/2016